.videoSidebar {
    position: absolute;
    top: 47%;
    right: 15px;
    color: white;
}


.videoSidebar__options {
    padding: 13px;
    text-align: center;
   }



.likedIcon {
    color: red;
}

.sharedIcon {
    color: orange;
}

.whatsAppIcon {
    color: green;
}
.AddCircleI{
    position: absolute;
    top: 41%;
    right: 10px;
    ;
}



@media only screen and (max-width: 440px) {
    .videoSidebar {
        top: 46%;
    }
}